.prod{
    float: right;
    padding: 50px; 
    left: -25%;
    position: relative;

  
}
.prod_img{
    border-radius: 40%;

    
}
.Products1{
    margin-top: 3%;
    margin-left: 3%;
}

.btn_prod{
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background-color: rgb(7, 146, 146);
}